@model string

@{
    ViewData["Title"] = "Home Page";

    @* Random rand = new Random();
    string[] names = new[] { "John", "Alice", "Bob", "Eve", "Charlie", "Tripp", "Persephone", "Penelope", "Anastasia" };

    string name = names[rand.Next(0, names.Length)]; *@
}


<div class="text-center">
    <h1 class="display-4">Welcome @Model</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
